* {
  font-family: KawashiroGothic;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 100%;
}

@font-face {
  font-family: KawashiroGothic;
  src: url("./fonts/KawashiroGothic-Lla5.ttf");
}

@font-face {
  font-family: : Melancholy;
  src: url("./fonts/Melancholy-PersonalUse.woff");
}

body {
  background-image: linear-gradient(rgba(243, 210, 80, 0.5), 
    rgba(243, 210, 80, 0.45)), url("images/shiba-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow-x: hide;
}

.sr-only {
  position: absolute;
  margin: -1px 0 0 -1px;
  padding: 0;
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  outline: 0;
}

#header {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-img {
  margin: 0.5rem;
  width: 3rem;
  height: auto;
}

#nav-bar {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  background-color: hsl(0, 0%, 100%, 0.75);
  padding: 1rem;
}

#nav-bar a, #nav-bar a:visited {
  color: black;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1rem;
}

#nav-bar a [aria-hidden="true"] {
  font-weight: 800;
  margin-inline-end: 0.5rem;
}

@supports (backdrop-filter: blur(1rem)) {
  #nav-bar {
    background-color: hsl(0, 0%, 100%, 0.1);
    backdrop-filter: blur(1rem);
  }
  #nav-bar a, #nav-bar a:visited {
    text-shadow: 0 0 5px black;
    color: white;
  }
}

#menu-toggle {
  display: none;
}

#about {
  width: 100%;
  margin-top: 10em;
  padding: 0em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}

#welcome-card {
  gap: 2em;
  text-align: center;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome-card > h1 {
  color: black;
  font-size: 2em;
}

#welcome-card > p {
  color: black;
  font-size: 1.25em;
  line-height: 1.5em;
  font-family: 'Tinos', serif;
  text-align: justify;
}

#photos {
  gap: 2em;
  background-color: #F3D250;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 1em 5em 1em;
}

h3 {
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  color: white;
}

#photos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.photo {
  width: 15em;
  height: 15em;
}

#videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  gap: 2em;
  padding: 5em 1em 10em 1em;
}

#videos > h3 {
  color: rgb(243, 210, 80);
}

#video {
  width: 100%;
  aspect-ratio: 3 / 2;
  max-width: 80vw;
}

#forms {
  padding: 5em 1em 5em 1em;
  background-image: linear-gradient(rgba(243, 210, 80, 0.5), 
    rgba(243, 210, 80, 0.45)), url("images/shiba-bg-2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

#forms > h3 {
  text-shadow: 0px 0px 5px black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

input {
  color: black;
  padding: 1em;
  border: 0px;
}

#email {
  font-family: sans-serif;
}

#submit {
  font-family: sans-serif;
  font-weight: bolder;
  width: 75%;
  background-color: rgb(243, 210, 80);
}

#submit:hover {
  background-color: rgb(238, 194, 17);
}

@media (max-width: 35em) {
  #menu-toggle {
    display: block;
    z-index: 9999;
    top: 1.15rem;
    right: 1rem;
    color: white;
    position: absolute;
  }

  i {
    font-size: 2rem;
    color: rgb(243, 210, 80);
    text-shadow: 0 0 5px black;
  }

  #nav-bar {
    z-index: 1000;
    gap: 3em;
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(20vh, 10rem) 2em;
    transition: 350ms ease-out;
    flex-wrap: nowrap;
  }  

  #nav-bar[data-visible="false"] {
    transform: translateX(100%);
  }

  #nav-bar[data-visible="true"] {
    transform: translateX(0%);
  }
}

@media (min-width: 35em) and (max-width: 55em) {
  #nav-bar a [aria-hidden="true"] {
    display: none;
  }
}