@font-face {
  font-family: KawashiroGothic;
  src: url("./fonts/KawashiroGothic-Lla5.ttf");
}

@font-face {
  font-family: : Melancholy;
  src: url("./fonts/Melancholy-PersonalUse.woff");
}

* {
  font-family: Melancholy;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  background-image: linear-gradient(rgba(243, 210, 80, 0.5), 
    rgba(243, 210, 80, 0.45)), url("images/shiba-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
}

#header-left {
  display: flex;
  align-items: center;
}

#header-img {
  width: 2.5em;
  height: auto;
  margin-right: 0.25em;
}

#header-title {
  font-family: 'Koulen', cursive;
  font-size: 1.5em;
  color: black;
}

#header-right {
  display: flex;
  align-items: center;
}

i {
  cursor: pointer;
  font-size: 1.5em;
  color: black;
}

#header-front {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 1em;
  justify-content: space-between;
  width: 100%;
  display: flex;
  align-items: center;

}

#menu-extension {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
}

#nav-bar {
  height: 100%;
  padding: 1.75em 2em;
  margin-top: 0.05em;
  background-color: rgba(255, 255, 255, 0.9);
}

.active {
  visibility: visible;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 2em;
  list-style-type: none;
}

li {
  text-align: center;
}

a, a:visited {
  font-weight: bolder;
  font-size: 1em;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}

#about {
  width: 100%;
  margin-top: 10em;
  padding: 0em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}

#welcome-card {
  gap: 2em;
  text-align: center;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome-card > h1 {
  color: black;
  font-size: 2em;
}

#welcome-card > p {
  color: black;
  font-size: 1.25em;
  line-height: 1.5em;
  font-family: 'Tinos', serif;
  text-align: justify;
}

#photos {
  gap: 2em;
  background-color: #F3D250;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 1em 5em 1em;
}

h3 {
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  color: white;
}

#photos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.photo {
  width: 15em;
  height: 15em;
}

#videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  gap: 2em;
  padding: 5em 1em 10em 1em;
}

#videos > h3 {
  color: rgb(243, 210, 80);
}

#video {
  width: 100%;
  height: 12em;
}

#forms {
  padding: 5em 1em 5em 1em;
  background-image: linear-gradient(rgba(243, 210, 80, 0.5), 
    rgba(243, 210, 80, 0.45)), url("images/shiba-bg-2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

#forms > h3 {
  text-shadow: 0px 0px 5px black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

input {
  color: black;
  padding: 1em;
  border: 0px;
}

#submit {
  font-family: sans-serif;
  font-weight: bolder;
  width: 75%;
  background-color: rgb(243, 210, 80);
}

#submit : hover {
  background-color: rgb(238, 194, 17);
}