@font-face {
  font-family: KawashiroGothic;
  src: url("/fonts/KawashiroGothic-Lla5.ttf");
}

* {
  font-family: 'Koulen', cursive;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  background-image: linear-gradient(rgba(243, 210, 80, 0.5), 
    rgba(243, 210, 80, 0.45)), url("images/shiba-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

#header {
  width: 100%;
  padding: 10px 0px;
  background-color: rgba(236, 236, 236, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-left {
  display: flex;
  align-items: center;
}

#header-img {
  width: 4em;
  height: auto;
}

#header-title {
  font-size: 1.5em;
  color: black;
}

#header-right {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

i {
  cursor: pointer;
  font-size: 1.5em;
  color: black;
}

#menu-extension {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
}

#nav-bar {
  height: 100%;
  padding: 1.75em 2em;
  margin-top: 0.05em;
  background-color: rgba(236, 236, 236, 0.9);
}

.active {
  visibility: visible;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 2em;
  list-style-type: none;
}

li {
  text-align: center;
}

a, a:visited {
  font-weight: bolder;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: black;
}

#about {
  width: 100%;
  margin-top: 5em;
  padding: 0em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome-card {
  gap: 2em;
  text-align: center;
  border-radius: 7px;
  background-color: rgba(236, 236, 236, 0.7);
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome-card > h1 {
  color: black;
  font-size: 2em;
  font-family: KawashiroGothic;
}

#welcome-card > p {
  color: black;
  font-size: 1.25em;
  line-height: 1.5em;
  font-family: times-new-roman;
  text-align: justify;
}